streamlit
sqlalchemy # For working with database
python-dotenv # For working with .env files
pandas # For working with dataframes
plotly # For creating interactive plots
Pillow  # For working with images